{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script type='text/javascript' src="{{ asset('app.js') }}"></script>
{% endblock %}

{% block content %}
<form method='post' action='{{ path('run') }}'>
    <h1>Secret Santa!</h1>
    <div class='block'>
        <div class="header">
            <div class='left'>
                <button onclick='return extraUser();'>Add participant</button>
            </div>
        </div>
        <div class='toprow row'>
            <div class='heading'>Name</div>
            <div class='heading'>Email</div>
            <div class='heading'>Don't match with</div>
        </div>
        <div id='insert_zone'>
        </div>
    </div>
    <div class='block'>
        <div class='header'>Setup</div>
        <div class='row'>
            <div class='seg'>Amount to pay:</div>
            &euro;&nbsp;<input name='amount' value='20'>
        </div>
        <div class="row">
            <div class='seg'>Password:</div>
            &nbsp;&nbsp;<input type="text" name="password" placeholder="Enter the password" required/>
        </div>
    </div>
    <input type='hidden' id='count' name='count' value='0'/>

    <input class='run' type='submit' value='Send!'
           onclick='confirm("Are you sure you want to send the secret santa emails now?")'/>
</form>

<div class="hidden" id="template">
    <div class='row'>
        <input name='user_name[]' value=''/>
        <input name='user_email[]' value=''/>
        <input name='no_match[]' value=''/>
        <span onclick='removeRow(this);' class="remove">[x]</span>
    </div>
</div>
{% endblock %}