body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}
#container {
    max-width: 680px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #cc0000;
}

.heading {
    width: 200px;
    padding: 2px 5px;
    float: left;

}

.block .header {
    font-size: 1em;
    padding: 5px;
}

.block .row {
    clear: left;
}

.block .row span {
    cursor: pointer;
}

.block .toprow {
    background-color: #f1f1f1;
    height: 24px;
}

input {
    padding: 5px 7px;
    margin-bottom: 3px;
    background: white;
    border-color: #008000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.remove {
    color: #cc0000
}

.block .row input, .block .row .seg {
    width: 196px;
    display: inline-block;
}

.block .row .seg {
    *float: left;
}

form {
    margin: 0;
    padding: 0;
}

.right {
    text-align: left;
}

.block .row button {
    background-color: #f1f1f1;
    border: solid 1px #666;
    padding: 4px;
    padding: 0px;
    cursor: pointer;
    margin: 2px;
}

.run {
    background: white;
    border-color: #cc0000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 9px;
    display: block;
    width: 668px;
    cursor: pointer;
    margin-top: 1rem;
}

p {
    padding: 2px 8px;
    margin: 0px;
    font-size: 0.9em;
}

.right_under {
    margin: 0px auto;
    text-align: right;
    width: 676px;
    color: #555;
    font-size: 0.7em;
}

.right_under a {
    color: #666;
}

.hidden {
    display: none
}

button {
    padding: 5px 7px;
    background: white;
    border-color: #008000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}