<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Een bericht van de Kerstman</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #f0f0f0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #cc0000;
        }
        p {
            color: #000000;
            font-size: 18px;
            line-height: 1.6;
        }
        .highlight {
            color: #008000;
            font-weight: bold;
        }
        .signature {
            margin-top: 30px;
            font-style: italic;
        }
        .santa-img {
            max-width: 600px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Een boodschap van de Kerstman</h1>

    <p>
        Dag {{ giver|capitalize }},
    </p>

    <p>
        Ik heb een groot probleem! Mijn rendieren zijn helemaal in de war door een te vroeg versierde kerstboom. Mijn ondankbare elfen zijn naar de concurrentie overgelopen en bovendien is mijn slee tegen een paasklok gebotst. Hierdoor zal ik dit jaar geen tijd hebben om iedereen een cadeautje te bezorgen. Daarom geef ik u de volgende opdracht:
    </p>

    <p>
        Geef een cadeautje aan <span class="highlight">{{ receiver|capitalize }}</span>.
    </p>

    <p>
        Hiervoor voorzie je een budget van
    </p>
    <p class="highlight">€{{ amount }}</p>
    <p>
        Vrolijk kerstfeest en een welgemeende Ho-Ho-Ho,
    </p>
    <p>
        De Kerstman
    </p>

    <img class="santa-img" src="{{ email.image('@images/mails/invitation/sled-crash.png') }}" alt="Santa Claus"/>
</div>
</body>
</html>
