{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:500' rel='stylesheet' type='text/css'>
    <link href='{{ asset('app.css') }}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <div id='container'>
        {% block content %}{% endblock %}
    </div>
{% endblock %}
